<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div class="container mx-auto max-w-3xl min-w-0 max-h-80">
        <table class="float-right bg-gray-500">
            <thead>
                <th>1열</th>
                <th>2열</th>
                <th>3열</th>
                <th>4열</th>
            </thead>
            <tbody>
                <tr>
                    <td>행1 열1</td>
                    <td>행1 열2</td>
                    <td>행1 열3</td>
                    <td>행1 열4</td>
                </tr>
            </tbody>
        </table>
        <div>
            테스트 테스트
        </div>
        <input type="number" id="user_id" hx-post="/user{@this.value}" hx-swap="outerHTML">
        <div id="result" hx-get="/user{@this.value}"></div>
    </div>
</body>
</html>