<div>{{results|safe}}</div>
<div>연차 사용(일)</div>
<form hx-post="/usingPTO" hx-target="#usingPTOresults" hx-swap="innerHTML">
  <input class="w-20 text-center rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" type="text" name="name" value="{{name|safe}}">
  <input class="w-20 text-center rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" type="number" step="0.25" name="time" value="0">
  <button class="px-4 rounded-lg bg-green-300 font-bold hover:bg-green-500" type="submit">사용</button>
  <div id="usingPTOresults"></div>
</form>
<div>공휴일 근무(일)</div>
<form hx-post="/addPTO" hx-target="#addPTOresults" hx-swap="innerHTML">
  <input class="w-20 text-center rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" type="text" name="name" value="{{name|safe}}">
  <input class="w-20 text-center rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" type="number" step="1" name="add" value="0">
  <button class="px-4 rounded-lg bg-green-300 font-bold hover:bg-green-500" type="submit">근무</button>
  <div id="addPTOresults"></div>
</form>